@import  url(http://fonts.googleapis.com/css?family=EB+Garamond);
@import url(http://fonts.googleapis.com/css?family=Belleza);

body {
   font-family: EB Garamond;
   margin: 0px auto 0px auto;
   font-size: 14px;

}

div#header {
   border-bottom: 2px solid black;
   margin-bottom: 30px;
   padding: 12px 0px 12px 0px;
}

div#logo a {
   color: black;
   font-size: 18px;
   text-decoration: none;
}


div.sidebar {
   text-align: left;
   width:6em;
   margin-left: 2em;
   margin-top: 2em;
   position:fixed;
   float: left;
   font-family: Belleza;
   color: rgb(20, 140, 140);
   font-size: 24px;

}

div.content {
   width: 40em;
   margin: 0px auto;
}

@media screen and (max-width: 900px) {
    div.content {
       margin: 0em auto 0 12em;
    }

}
/* below 40em, just use the whole screen */
@media screen and (max-width: 750px) {
   div.sidebar {
      width: 100%;
      margin: 0 auto;
      float: none;
      position: static;
      text-align: center;
   }

   div.content {
      width: 98%;
      max-width: 40em;
      margin: 0 auto;
   }

}

div.sidebar a {
   color: rgb(20, 140, 140);
   text-decoration: none;
   text-transform: uppercase;
   line-height: 140%;
}

div.footer {
   border-top: solid 2px black;
   color: #555;
   font-size: 12px;
   margin-top: 30px;
   padding: 12px 0px 12px 0px;
   text-align: right;
}

h1 {
   color: rgb(20, 140, 140);
   font-weight: normal;
   font-family: Belleza, sans-serif;
   font-size: 24px;
}

h2 {
   color: rgb(20, 140, 140);
   font-weight: normal;
   font-family: Belleza, sans-serif;
   font-size: 20px;
}

div.info {
   color: #555;
   font-size: 14px;
   font-style: italic;
}

p {
   font-family: EB Garamond, serif;
 }